@import "variables.css";

header {
    font-family: var(--roboto-mono);
}

header > nav {
    background: var(--white);
    position: relative;
}

header > nav::after {
    content: "";
    width: 100%;
    height: calc(100% - var(--wide-border-width));
    position: absolute;
    left: 0;
    top: 0;
    border-bottom: var(--wide-border);;
}

header > nav > a {
    padding: 22px;
    display: inline-block;
    border: var(--wide-border);
    margin-left: -1px;
    margin-top: -1px;
    text-decoration: none;
    font-size: var(--small-font-size);
}

header > nav > a:hover {
    text-decoration: var(--text-decoration-underline);
}

header > nav > a:focus-visible {
    outline: 15px double var(--dark-blue);
}

header > nav > a:not(:first-child) {
    text-transform: uppercase;
}

header > nav > a:first-child {
    background-color: var(--dark-blue);
    color: var(--white);
}

