@import "variables.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--gradient-light-color);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, var(--gradient-light-color), var(--gradient-dark-color));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, var(--gradient-light-color), var(--gradient-dark-color)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
}

/* TODO: set limit width and a background for very big screens */

/* Hide skip link when it's not focused */
.skip-link:not(:focus) {
    clip: rect(0 0 0 0); 	
    clip-path: inset(50%);	
    height: 1px;	
    overflow: hidden;	
    position: absolute;	
    white-space: nowrap; 	
    width: 1px;
}

a.skip-link {
    display: block;
    color: var(--dark-blue);
    background: var(--gradient-light-color);
    border: 15px double var(--dark-blue);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-family: var(--roboto-mono);
}

main {
    margin-top: 5.43em;
    padding-inline: 2em;
    font-family: var(--roboto-condensed);
}

h1 {
    font-size: 2.25rem;
    line-height: 2.625rem;
}

h1 > span {
    background-color: var(--heading-highlight);
}

hr.bold-separator {
    width: 50%;
    border: 5px solid var(--dark-blue);
    margin-top: var(--regular-margin);
}

p.subheading {
    font-size: var(--big-font-size);
}